/* .nav{
    display: flex;
    align-items: center;
} */
.nav-list {
    margin-right: 1.5em;
    display: flex;
    list-style-type: none;
}
.nav-list-item {
    margin-left: 1.5em;
    display: flex;
    align-items: center;
}
.nav-list-item a{
    text-decoration: none;
}
.link {
    color: #444;
    padding: 0 0 0.3em 0;
    position: relative;
} 
.link:hover {
    color:#555;
}
.link::before {
    content: "";
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color:#444;
    transition: width 0.2s ease-in;
}
.link:hover::before,
.link:focus::before {
  width: 100%;
}
.nav-link:hover {
    color: 555;
    font-weight: 500;
}

.btn{
    border:none;
    outline:none;
    color:white;
    background-color: rgb(12, 12, 215);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgba(12, 12, 215,0.7);
}

.menu{
    display: block;
    cursor: pointer;
    padding: 0.8em 1.4em;
    outline: none;
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 0.9rem;
    transition: transform 0.2s ease-in-out;
  }
.btn--icon {
    padding: 4px ;
}

.btn--icon:hover,
.btn--icon:focus {
    color: darkblue;
}
  
.btn--icon:active {
    transform: translateY(-5px);
}
.menu svg{
    font-size: 25px;
}
.nav__hamburger {
    display: none;
}
@media (max-width: 600px) {
    .nav-list {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: white;
    }
  
    .nav-list-item {
      margin: 0.5em 0;
    }
  
    .nav__hamburger {
        position: absolute;
        top:1.5em;
        right:1em;
        z-index: 4;
        display: flex;
        margin-left: 0.8em;
    }
}